.newFormContainer
{
    border: 2px solid;
    border-radius: 10px;
    border-color: #cccccc;
    display: block;
}

.formOptions, .formElements, .formElement, .radioGroup
{
    padding: 10px;
}

.formElements div
{
    margin: 10px;
}

#edit
{
    border: 2px dashed;
    border-radius: 5px;
    border-color: #CCCCCC;
    display: block;
}

.table
{
    display: table;
    padding: 5px;
}

.row
{
    display: table-row;
}

.cell
{
    display: table-cell;
    padding:2px;
}

#gearIcon
{
    float:left;
    width: 20px;
    cursor: pointer;
    cursor: hand;
}